@page
@model PrivacyModel
@{
    Layout = "_EmptyLayout";
}

<div id="presentation"></div>
<div id="controls">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
    <span id="summary"></span>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>