@page
@model IndexModel
@{
    Layout = "_EmptyLayout";
}

<div id="presentation"></div>
<div id="controls" style="display: none;">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>